@import "@fontsource/raleway/index.css";
@import "@fontsource/raleway/700.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

h2, h3{
    text-transform: capitalize; //rende maiuscole tutte le lettere iniziali
    font-weight: normal;
}

section h3{ 
    font-size: 1.5rem;
}

p{
    font-size: 0.875rem;
    line-height: 1.688rem;
}