@import './variables.scss';

@mixin flex-basics {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin small-row {
    width: 45%;
    // max-width: 655px;
    // border: 2px solid blue;
}

@mixin medium-row{
    width: 68%;
    // border: 2px solid red;
}

@mixin bg-image {
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
}

// bottoni ---------------------

@mixin btn-common{
    padding: 12px 30px;
    text-transform: uppercase;
    border: none;
}

@mixin btn-dark{
    background-color: $dark-color;
    color: white;
}

@mixin btn-light{
    background-color: $light-color;
}

// -------------------------------

@mixin reusable-title-row {

    .title-row {
        @include small-row;
        @include flex-basics;
        flex-direction: column;
        text-align: center;
    
        .title{
            position: relative;
            display: flex;
            justify-content: center;
            padding-bottom: 15px;
    
            &::after{
                content: "";
                position: absolute;
                width: 35%;
                top: 100%;
                height: 0.125rem;
                background-color: $light-color;
            }
        }
    
        p{
            padding-top: 25px;
            color: $gray-font;
        }
    }
}
